html,
body {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
  background-color: var(--color-dark-blue);
  color: white;
}

:root {
  --color-red: #fc4747;
  --color-dark-blue: #10141e;
  --color-Greyish: #5a698f;
  --color-semi-Semi-dark: #161d2f;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

.scroll-container {
  display: flex;
  overflow-x: scroll;
}
