.modal {
  position: absolute;
  /** centers modal **/
  left: 0;
  right: 0;
  margin: 0 auto;

  width: 80%;
  bottom: 40px;
  background-color: var(--color-semi-Semi-dark);
  top: 14%;

  outline: none;
  border-radius: 10px;
  border: 1px solid var(--shadow10);
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/** gives box shadow to the video frame **/
.borderBoxShadow {
  -webkit-box-shadow: 0 3px 7px var(--color-semi-Semi-dark);
  -moz-box-shadow: 0 3px 7px var(--color-semi-Semi-dark);
  box-shadow: 0 3px 7px var(--color-semi-Semi-dark);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  opacity: 1;
  background: linear-gradient(to top, var(--black10), transparent 50%);
}

/** Makes video edges curvy **/
.videoPlayer {
  border-radius: 10px 10px 0px 0px;
  composes: borderBoxShadow;
}

/** Modal body **/
.modalBody {
  padding: 2rem 3rem;
}

.modalBodyContent {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  column-gap: 2em;
}

.col1 {
  height: 250px;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 1.6rem;
}

.col1::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.publishTime {
  font-size: 1.8rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  margin-top: 1.5rem /* 24px */;
  margin-bottom: 0.5rem /* 8px */;
  color: var(--green10);
}

.text {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  color: var(--white10);
}

.description {
  margin-bottom: 0.5rem /* 8px */;
  margin-top: 0.75rem /* 12px */;
  line-height: 2rem;
  letter-spacing: 2px;
}

.col2 {
  color: var(--white10);
  /* line-height: 1.75rem 28px; */
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

.subText {
  /* font-size: 0.875rem 14px; */
  font-size: 1.6rem;
  margin-left: 0px;
  overflow-wrap: break-word;
}

.subTextWrapper {
  margin-top: 1.5rem /* 24px */;
}

.textColor {
  color: var(--gray10);
}

.channelTitle {
  color: var(--white30);
  margin: 0px;
}

@media (min-width: 768px) {
  .modal {
    top: 13%;
    bottom: 52px;
    width: 70%;
  }
}

@media (min-width: 1440px) {
  .modal {
    top: 5%;
    bottom: 52px;
    width: 50%;
  }
}
